* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(59 , 193 , 139);
}

header {
  margin-top: 100px;
  background-color: white;
  padding: 20px;
}

header h1 {
  font-size: 32px;
  font-weight: 1000;
}

#funcionamento {
  font-weight: 100;
  font-style: italic;
  color: rgb(82 , 82 , 82);
}

main {
  background-color: white;
  padding: 0 20px 20px;
}

#criar-tarefa {
  margin: 10px 0 20px;
}

#useful-buttons button {
  margin-right: 10px;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}
