* {
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(59 , 193 , 139);
  margin: 100px auto;
  width: 70%;
}

header {
  background-color: white;
  padding: 20px 25px;
}

header h1 {
  font-size: 1.75em;
  font-weight: 1000;
}

header ul {
  font-style: italic;
  font-weight: 100;
}

h2 {
  color: rgb(115 , 115 , 115);
  font-size: 1.15em;
  font-weight: 800;
}

.bold {
  font-weight: 600;
}

main {
  background-color: white;
  padding: 0 25px 20px;
}

#btn-create-task {
  margin: 10px 0 20px;
}

.task {
  cursor: pointer;
}

.selected {
  background-color: rgb(182 , 182 , 182);
  font-weight: 600;
}

.completed {
  text-decoration: line-through solid black;
}

#task-list {
  margin-bottom: 50px;
}

h3 {
  color: rgb(115 , 115 , 115);
  font-size: 1em;
  font-weight: 800;
  width: 100%;
}

#tasks-buttons button , #list-buttons button {
  margin-right: 10px;
}

#tasks-buttons {
  margin-bottom: 20px;
}
